<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Edition Achat:</div>
    <div class="panel-body" *ngIf="currentAchat">
      <form #f="ngForm" (ngSubmit)="onUpdateAchat(f.value)">
        <div class="form-group">
          <label class="control-label"> DATE: </label>
          <input class="form-control" type="date" name="date" ngModel [(ngModel)]="currentAchat.date">
        </div>
        <div class="form-group">
          <label class="control-label"> TOTALHT: </label>
          <input class="form-control" type="number" name="totalHT" ngModel [(ngModel)]="currentAchat.totalHT">
        </div>
        <div class="form-group">
          <label class="control-label"> REMISE : </label>
          <input class="form-control" type="number" name="remise" ngModel [(ngModel)]="currentAchat.remise">
        </div>
        <button class="btn btn-success" type="submit">UPDATE</button>
      </form>
    </div>
  </div>
</div>

