<div class="container">
  <div class="col-md-9 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Nouveau Achat</div>
      <div class="panel-body" *ngIf="mode==1">
        <form #f="ngForm" (ngSubmit)="onSaveAchat(f.value)" >
          <div class="form-group">
            <label class="control-label"> DATE: </label>
            <input class="form-control" type="date" name="date" ngModel>
          </div>
          <div class="form-group">
            <label class="control-label"> TOTALHT : </label>
            <input class="form-control" type="number" name="totalHT" ngModel>
          </div>
          <div class="form-group">
            <label class="control-label"> REMISE :</label>
            <input class="form-control" type="number" name="remise" ngModel>
          </div>
          <button class="btn btn-success" type="submit">SAVE</button>
        </form>
      </div>
      <div class="panel-body" *ngIf="mode==2">
        <button class="btn btn-success" (click)="onNewAchat()">Nouveau Achat</button>
        <div class="form-group">
          <label>IDENTIFIANT:</label>
          <label>{{currentAchat.id}}</label>
        </div>
        <div class="form-group">
          <label>DATE:</label>
          <label>{{currentAchat.date}}</label>
        </div>
        <div class="form-group">
          <label>TOTALHT:</label>
          <label>{{currentAchat.totalHT}}</label>
        </div>
        <div class="form-group">
          <label>REMISE:</label>
          <label>{{currentAchat.remise}}</label>
        </div>
      </div>
    </div>
