<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des lignes-Achats</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="reloadData()">
        <div class="form-group">
          <label>Keyword : </label>
          <input type="text" name="keyword" ngModel>
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
            Chercher
          </button>
        </div>
      </form>
      <table *ngIf="ligneachats" class="table table-striped">
        <tr>
         <th>IDENTIFIANT</th><th>IDENTIFIANT-ACHAT</th><th>LIBELLE-ARTICLE</th><th>QUANTITE</th>
        </tr>
        <tr *ngFor="let ligneachat of ligneachats|async">
          <td>{{ligneachat.id}}</td>
          <td >{{ligneachat.achat.id}}</td>
          <td>{{ligneachat.article.libel}}</td>
          <td>{{ligneachat.quantite}}</td>
          <td><a class="btn btn-success"(click)="onEditLigneAchat(ligneachat.id)"> <span class="glyphicon glyphicon-edit"></span> EDIT</a></td>
          <td><a class="btn btn-danger"(click)="onDeleteLigneAchat(ligneachat.id)"><span class="glyphicon glyphicon-erase"></span> DELETE</a></td>
        </tr>
      </table>
      <ul *ngIf="pages" class="nav nav-pills">
        <li class="clickable" [ngClass]="i==currentPage?'active':''" *ngFor="let ligneachat of pages; let i=index">
          <a  (click)="onPageLigneAchats(i)">{{i}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
