<div class="container">
  <div class="col-md-9 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Nouveau LigneAchat</div>
      <div class="panel-body" *ngIf="submitted==false">
        <form #f="ngForm" (ngSubmit)="onSubmit()" >
          <div class="form-group">
            <label class="control-label"> IdAchat :</label>
            <input class="form-control" type="text" id="id_achat" required [(ngModel)]="currentligneAchat.id_achat" name="id_achat">
          </div>
          <div class="form-group">
            <label class="control-label"> IdArticle: </label>
            <input class="form-control" type="text" id="id_article" required [(ngModel)]="currentligneAchat.id_article"  name="id_article" >
          </div>
          <div class="form-group">
            <label class="control-label"> QUANTITE : </label>
            <input class="form-control" type="number" id="quantite" required [(ngModel)]="currentligneAchat.quantite" name="quantite" >
          </div>
          <button class="btn btn-success" type="submit">SAVE</button>
        </form>
      </div>
    </div>


